@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Titillium+Web&display=swap');
html {
    position: relative;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}


td{
  border: 1px solid black;
  padding: 5px;
}

.todo-input{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.todoTable-block{
  margin-top: 1rem;
}

.pagination-pages{
  text-align: right;
}

.pagination-pages > * {
  margin-right: 0.5rem;
  cursor: pointer;
}

.material-icons{
  cursor: pointer;
}

::-ms-input-placeholder{
  color: #565454;
}

::-webkit-input-placeholder{
  color: #565454;
}

::placeholder{
  color: #565454;
}

input {
  color:#565454;
}

h3 {
  color:#565454;
  font-family: 'Rowdies', cursive;
}


body{

  font-family: 'Titillium Web', sans-serif;
}

.todo-block{
  border: 1px solid rgba(244, 214, 70, 1);
  padding: 1rem;
  border-radius: 20px;
  color:#565454;
}

@media screen and (max-width: 767px) {
  /* for mobile or small screen device */
  #todoTable, .todo-calendar{
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  /* for tablets or laptops or desktops */
  .todo-grid-parent{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
  }

  #calendar{
    position: sticky;
    top: 0;
  }
}

.todo-overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100vw);
  transition: transform 250ms;
  z-index: 2;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 4px 4px #f4c141;
  color: #565454;
  letter-spacing: 1px;
  font-weight: 600;
  color: #555;
  border: 1px solid rgba(244, 215, 66,1);
  border-left: 0px;
  outline: none;
  background: transparent;
  background: rgba(244, 215, 66,0.6);
}

.todo-modal{
  min-width: 50vw;
  height: 50vh;
  /*border: 1px solid green;*/
  border:1px solid rgba(244, 214, 65, 1);
  background: rgba(244, 214, 65, 1);
}

.todo-modal-close-btn{
  background-color: red;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.slidedIntoView {
  transform: translateX(0);
  transition: transform 650ms;
}

#todoTable tr:nth-child(even) {
  background: rgba(244, 214, 65, 0.7);
}

button{
  background-color: #ffd6cc;
  color: #565454;
border:1px solid rgba(244, 214, 65, 1);
  background: rgba(244, 214, 65, 0.7);

}
button.changeBtn{
  border:2px solid rgba(244, 214, 65, 1);
  background: rgba(244, 214, 65, 0.7);
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 20%;
  box-shadow: 4px 4px #f4c141;
  color: #565454;
}


button:active{
  border: 1px inset #ed6a5e;
}

button:hover{
 box-shadow: 4px 4px #d1a740;
  color: #fff;
}

.chevron{
  transform: translateY(0.4rem);
}

.itemsPerPage{
  text-align: right;
  margin-bottom: 0.5rem;
}